body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
.cover{
        height: 675px;
        background-image: url(056221200_1648103838-Manfaat_Minum_Susu_yang_Wajib_Anda_Tahu.jpg)
}

nav {
    background: #e8491d;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
}
.about{
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-right: 20px;
    border: solid 2px darkblue;
}
.contact{
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px darkblue;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}